<div class="container">
<div class="page-header">
  <h1>Statistics</h1>
</div>

<div class="row" id="stats-nav">
  <h3><small>Index</small></h3>
  <div class="list-group" id="stats-cluster-top">
    <a class="list-group-item" ui-sref="stats({'#': 'stats-general'})">
      General statistics
    </a>
    <a class="list-group-item" ui-sref="stats({'#': 'stats-cluster-count'})">
      Secondary Metabolite cluster counts
    </a>
  </div>
</div>

<div class="row" id="stats-general">
  <h3>General statistics <small>database contains</small></h3>
  <ul class="list-group">
    <li class="list-group-item col-md-6" ng-repeat="entry in $ctrl.general_stats">
      <span class="stats-definition-term">{{entry.name}}:</span> <span class="label label-primary stats-definition-data">{{entry.value}}</span>
    </li>
  </ul>
</div>

<div class="row" id="stats-cluster-count">
  <h3>Secondary Metabolite cluster counts <small>by type</small></h3>
  <ul class="list-group">
    <li class="list-group-item col-md-6" ng-repeat="cluster in $ctrl.sec_met_clusters">
      <span class="badge" ng-class="cluster.name">{{cluster.count}}</span> {{cluster.description}}
    </li>
  </ul>
</div>

<div class="row">
</div>
</div>
