@antismash-red: #810e15;
@dark-gray: #444;

.navbar-antismash {
  border-bottom: 4px solid @antismash-red;
}

.fake-button {
  color: @dark-gray;
  &:hover {
    text-decoration: none;
  }
}

.cluster-header{
  font-size: 90%;
  background-color: @antismash-red;
  color: white;
  margin: 0.1em 0 0.4em 0.1em;
  padding: 0.2em 0 0.2em 0.5em;
  border-radius: 3px;
}

.spacer{
  margin: 0.5em;
}

.search-box {
  padding-top: 2em;
}

.search-button {
  padding-top: 2em;
}

.cluster-list {
  cursor: pointer;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 160px;
  padding-top: 0.25em;
  border-top: 1px solid @antismash-red;
  margin-top: 2em;
}

.org-logos {
  margin-top: 1em;
}

.cite-me {
  margin-top: 1em;
}

.digits {
  text-align: right;
}

.cluster-type {
  text-align: center;
}

.pattern-list {
  margin: 1em 0;
  padding: 2em 1em;
  border-radius: 8px;
  border: 1px dashed @dark-gray;
}

.pad-left-1{
  padding-left: 1em;
}

.secmet (@fg: black, @bg: white) {
    background-color: @bg;
    color: @fg;
}

.t1pks {
    .secmet(purple, orange);
}

.t2pks {
    .secmet(purple, sandybrown);
}

.t3pks {
    .secmet(purple, lightsalmon);
}

.otherks {
    .secmet(purple, goldenrod);
}

.transatpks {
    .secmet(maroon, chocolate);
}

.nrps {
    .secmet(white, seagreen);
}

.terpene {
    .secmet(white, purple);
}

.lantibiotic {
    .secmet(blue, #ffff77);
}

.lantipeptide {
    .lantibiotic
}

.bacteriocin {
    .secmet(white, royalblue);
}

.ectoine {
    .secmet(firebrick, yellowgreen);
}

.melanin {
    .secmet(white, sienna);
}

.siderophore {
    .secmet(white, crimson);
}

.butyrolactone {
    .secmet(white, mediumpurple);
}

.hserlactone{
    .secmet(black, tan);
}

.phenazine {
    .secmet(black, plum);
}

.amglyccycl {
    .secmet(black, yellowgreen);
}

.blactam {
    .secmet(black, aliceblue);
}

.nucleoside {
    .secmet(black, antiquewhite);
}

.phosphonate {
    .secmet(black, mintcream);
}

.indole {
    .secmet(black, peachpuff);
}

.hybrid {
    .secmet(midnightblue, lightsteelblue);
}

.other {
    .secmet(lightsteelblue, midnightblue);
}

.putative {
    .secmet(black, #f2f2f2);
}
