@antismash-red: #810e15;
@dark-gray: #444;
@antismash-gray: #1d1414;
@medium-gray: #444;
@light-gray: #eee;
@light-red: #aa0000;
@tooltip-border: slategray;
@tooltip-background: #ddd;
// svgene genetype colors
@gene-type-other: gray;
@gene-type-biosynthetic: @antismash-red;
@gene-type-regulatory: seagreen;
@gene-type-transport: cornflowerblue;

.wide-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  @media (min-width: 768px){
    width: 750px;
  }
  @media (min-width: 992px){
    width: 970px;
  }
  @media (min-width: 1200px){
    width: 1170px;
  }
  @media (min-width: 1600px){
    width: 1560px;
  }
}

.navbar-antismash {
  border-bottom: 4px solid @antismash-red;
}

.fake-button {
  color: @dark-gray;
  &:hover {
    text-decoration: none;
  }
}

.cluster-view {
  padding-left: 1em;
  padding-right: 1em;
}

.cluster-header{
  font-size: 90%;
  background-color: @antismash-red;
  color: white;
  margin: 0.1em 0 0.4em 0.1em;
  padding: 0.2em 0 0.2em 1em;
  border-radius: 3px;
}

.cluster-download {
  display: block;
  float: right;
}

.spacer{
  margin: 0.5em;
}

.search-box {
  padding-top: 2em;
}

.search-button {
  padding-top: 2em;
}

.cluster-list {
  cursor: pointer;
}

.stats-definition-term {
  font-weight: bold;
}

.stats-definition-data {
  float: right;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 160px;
  padding-top: 0.25em;
  border-top: 1px solid @antismash-red;
  margin-top: 2em;
}

.org-logos {
  margin-top: 1em;
}

.cite-me {
  margin-top: 1em;
}

.digits {
  text-align: right;
}

.cluster-type {
  text-align: center;
}

.pattern-list {
  margin: 1em 0;
  padding: 2em 1em;
  border-radius: 8px;
  border: 1px dashed @dark-gray;
}

.pad-left-1{
  padding-left: 1em;
}

.secmet (@fg: black, @bg: white) {
    background-color: @bg;
    color: @fg;
}

.t1pks {
    .secmet(purple, orange);
}

.t2pks {
    .secmet(purple, sandybrown);
}

.t3pks {
    .secmet(purple, lightsalmon);
}

.otherks {
    .secmet(purple, goldenrod);
}

.transatpks {
    .secmet(maroon, chocolate);
}

.nrps {
    .secmet(white, seagreen);
}

.terpene {
    .secmet(white, purple);
}

.lantibiotic {
    .secmet(blue, #ffff77);
}

.lantipeptide {
    .lantibiotic
}

.bacteriocin {
    .secmet(white, royalblue);
}

.lassopeptide {
  .bacteriocin
}

.thiopeptide {
  .bacteriocin
}

.cyanobactin {
  .bacteriocin
}

.head_to_tail {
  .bacteriocin
}

.ectoine {
    .secmet(firebrick, yellowgreen);
}

.melanin {
    .secmet(white, sienna);
}

.siderophore {
    .secmet(white, crimson);
}

.butyrolactone {
    .secmet(white, mediumpurple);
}

.hserlactone{
    .secmet(black, tan);
}

.phenazine {
    .secmet(black, plum);
}

.amglyccycl {
    .secmet(black, yellowgreen);
}

.blactam {
    .secmet(black, aliceblue);
}

.nucleoside {
    .secmet(black, antiquewhite);
}

.phosphonate {
    .secmet(black, mintcream);
}

.indole {
    .secmet(black, peachpuff);
}

.hybrid {
    .secmet(midnightblue, lightsteelblue);
}

.other {
    .secmet(lightsteelblue, midnightblue);
}

.putative {
    .secmet(black, #f2f2f2);
}

.tooltip {
    border: 2px solid @tooltip-border;
    background-color: @tooltip-background;
    display: none;
    position: absolute;
    font-size: 80%;
    padding: 0.5em;
    color: @antismash-red;
}

.svgene-type-other {
    fill: @gene-type-other;
    stroke: black;
}
.svgene-type-biosynthetic {
    fill: @gene-type-biosynthetic;
    stroke: black;
}
.svgene-type-transport {
    fill: @gene-type-transport;
    stroke: black;
}
.svgene-type-regulatory {
    fill: @gene-type-regulatory;
    stroke: black;
}
.svgene-line {
    stroke-width: 1px;
    stroke: #888;
}
.svgene-locustag {
    fill: @antismash-red;
    display: none;
    font-size: 80%;
}
.svgene-tooltip {
    .tooltip;
}

.svgene-tooltip-bold {
    font-weight: bold;
    font-size: 120%;
}
