<div class="page-header">
  <h1>Query</h1>
</div>


<div class="row">
  <uib-tabset active="0"" justified="true" type="pills">
    <uib-tab index="0" heading="Simple search">
      <form>
        <div class="form-group">
          <div class="col-md-8 col-md-offset-1 search-box">
            <label for="search-string">Enter your search term</label>
            <input type="text" class="form-control" id="search-string" placeholder="e.g. lanthipeptide streptomyces" ng-model="ctrl.search_string">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-4 col-md-4 search-button">
            <button class="btn btn-primary btn-block" ng-click="ctrl.search()">Search</button>
          </div>
        </div>
      </form>
    </uib-tab>
    <uib-tab index="1" heading="Build a query">
      <div class="pattern-list"></div>
    </uib-tab>
  </uib-tabset>
</div>
