<div class="wide-container">
<div class="page-header">
  <h1>Query</h1>
</div>


<div class="row" ng-hide="ctrl.search_pending || ctrl.search_done">
  <uib-tabset active="0"" justified="true" type="pills">
    <uib-tab index="0" heading="Simple search">
      <form>
        <div class="form-group">
          <div class="col-md-8 col-md-offset-1 search-box">
            <label for="search-string">Enter your search term</label>
            <input type="text" class="form-control" id="search-string" placeholder="e.g. lantipeptide streptomyces" ng-model="ctrl.search_string">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-4 col-md-4 search-button">
            <button class="btn btn-primary btn-block" ng-click="ctrl.simpleSearch()">Search</button>
          </div>
          <div class="col-md-offset-2 col-md-2 search-button">
            <button class="btn btn-block" ng-click="ctrl.loadExample()">Load example</button>
          </div>
        </div>
      </form>
    </uib-tab>
    <uib-tab index="1" heading="Build a query">
      <div class="pattern-list form-horizontal">
        <div class="form-group pad-left-1 row" ng-repeat="entry in ctrl.search_objects">
          <label class="control-label col-sm-2">Category:</label>
          <div class="col-sm-2">
            <select class="form-control" ng-options="o.desc for o in ctrl.categories track by o.val" ng-model="entry.category"></select>
          </div>
          <div class="col-sm-6">
            <input class="form-control" ng-model="entry.term" placeholder="search term">
          </div>
          <div class="col-sm-1">
            <button class="btn" ng-click="ctrl.removeEntry(entry)"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-primary btn-block" ng-click="ctrl.search()"><i class="fa fa-search"></i> Search</button>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <button class="btn btn-block" ng-click="ctrl.addEntry()"><i class="fa fa-plus"></i> Add search term</button>
        </div>
        <div class="col-md-2 col-md-offset-5">
          <button class="btn btn-block" ng-click="ctrl.loadExample()"><i class="fa"></i>Load example search</button>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>

<div class="row" ng-show="ctrl.search_done">
  <div class="col-md-2 col-md-offset-10">
    <button class="btn btn-block" ng-click="ctrl.resetSearch()">New search</button>
  </div>
</div>

<div class="row query-results-count" ng-show="ctrl.results.clusters.length > 0">
Your search gave <strong>{{ctrl.results.total}}</strong> result<span ng-hide="ctrl.results.clusters.length == 1">s</span> in total.
Showing <strong>1</strong> to <strong>{{ctrl.results.clusters.length}}</strong>
</div>

<div class="row search-box" ng-show="ctrl.results.clusters.length > 0">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Species</th>
        <th>Accession</th>
        <th>Cluster</th>
        <th>Type</th>
        <th>From</th>
        <th>To</th>
        <th>Most similar known cluster</th>
        <th>MIBiG BGC-ID</th>
      </tr>
    </thead>
    <tbody>
      <tr class="cluster-list" ng-repeat="entry in ctrl.results.clusters" ng-click="ctrl.showCluster(entry)">
        <td>{{entry.species}}</td>
        <td><a ng-href="{{ctrl.getNcbiUrl(entry.acc)}}" target="_new" ng-show="entry.acc != null" ng-click="$event.stopPropagation();">{{entry.acc}}</a></td>
        <td class="cluster-type"><span class="badge" ng-class="entry.term">{{entry.cluster_number}}</span></td>
        <td>{{entry.description}}</td>
        <td class="digits">{{entry.start_pos}}</td>
        <td class="digits">{{entry.end_pos}}</td>
        <td><span ng-show="entry.cbh_description != null">{{entry.cbh_description}} ({{entry.similarity}}% of genes show similarity)</span></td>
        <td><a ng-href="{{ctrl.getMibigUrl(entry.cbh_acc)}}" target="_new" ng-show="entry.cbh_acc != null" ng-click="$event.stopPropagation();">{{entry.cbh_acc}}</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row" ng-show="ctrl.canLoadMore() && !ctrl.loading_more">
  <button class="btn btn-primary" ng-click="ctrl.loadMore()"><i class="fa fa-plus"></i> Load more results</button>
</div>

<div class="row" ng-show="ctrl.search_done && ctrl.results.clusters.length == 0">
  Your search gave no results. Please change your search terms and try again.
</div>

<div class="row" ng-show="ctrl.search_pending">
  <i class="fa fa-circle-o-notch fa-spin fa-2x"></i> Searching, please wait...
</div>

<div class="row" ng-show="ctrl.loading_more">
  <i class="fa fa-circle-o-notch fa-spin fa-2x"></i> Loading more results, please wait...
</div>

</div>
